<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StatSnap - User Experiences Inspired by Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
</head>
<body>

    <nav class="navbar">
        <a href="/login" class="login-button">Login</a>
    </nav>


    <div class="split-container">
        
        <div class="content-left">
            <div class="logo">StatSnap</div>
            <h1>Gameeeee game and game</h1>
            <p>Track stats and games</p>
            <a href="/signup" class="cta-button">Get Started</a>
        </div>
        
        <div class="content-right">
        </div>
    </div>

</body>
</html>
